

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
  font-optical-sizing: auto;
   
}

.logoo .logo{
    font-weight: bolder;
    
    margin-bottom: 10px;
    border-radius: 2rem;
    cursor: pointer;
    width: 230px;
    height: 60px;
    
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  linear-gradient(180deg,#000000,#120886,#000000);
    
}

.login{

    position: relative;
    width: 800px;
    height: 540px;
    background: transparent;
    border: 1px solid rgb(0, 151, 252);
    box-shadow: 0 0 26px rgb(0, 151, 252);
    border-right: none;
    overflow: hidden;

}

.login .login-form{

    position: absolute;
    top:0;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.login .login-form.log{

    left: 0;
    padding: 0 60px 0 40px;
    

}

.login .login-form.log .animation{

    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s *var(--j)) ;


}

.login.active .login-form.log .animation{

    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s *var(--i)) ;

}


.login .login-form.regis{

    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
    
}

.login.active .login-form.regis{
    
    pointer-events: auto;

}

.login .login-form.regis .animation{

    transform: translateX(120%) ;
    opacity: 0;
    filter: blur(10px);
    transition: .8s ease;
    transition-delay: calc(.1s *var(--j)) ;
    
}

.login.active .login-form.regis .animation{
    
    transform: translateX(0) ;
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s *var(--i)) ;
}

.login .login-form h2{

    font-size: 32px;
    color:white;
    text-align: center;

}

.login-form .input-box{

    position: relative;
    width: 100%;
    height: 20%;
    margin: 22px 0;

}

.input-box input{

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid  white;
    padding-right: 28px;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    
}

.input-box input:focus,
.input-box input:valid{

    border-bottom-color:rgb(0, 151, 252);

}

.input-box label{

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label{

    top: -5px;
    color: rgb(0, 151, 252);

}

.input-box .icon{

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
    transition: .5s;

}

.input-box input:focus~i,
.input-box input:valid~i{

    color: rgb(0, 151, 252);

}

.btn{

    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid rgb(0, 151, 252);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 20px;
    z-index: 1;
    overflow: hidden;

}

.btn::before{

    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(180deg,#4528c9,rgb(1, 62, 175),#4528c9,rgb(0, 89, 255));;
    z-index: -1;

}

.btn:hover::before{

    top: 0;

}

.pass a{

    font-size: 18px;
    color:rgb(0, 151, 252);
    text-decoration: none;
    text-align: center;
    

}

.login-form .crea-cuenta{

    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 20px 0 20px 0;

}
.login-form .crear-cuenta{

    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 0px 0 20px 0;

}

.login-form p a{

    font-size: 18px;
    color: rgb(0, 151, 252);
    text-decoration: none;
    font-weight: 600;

}

.login-form p a:hover{

    text-decoration: underline;

}

.login .info-text{

    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:none ;

}

.login .info-text.login{
    left: 50%;
    right: 0;
    text-align: right;
    padding: 0 40px 60px 130px;
    
    
}

.login .info-text.login .animation{

    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s *var(--j)) ;


}

.login.active .info-text.login .animation{

    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s *var(--i)) ;

}

.login .info-text.regis{
    left: 0;
    text-align: left;
    padding: 0 130px 60px 40px;
    pointer-events: none;
   
}

.login.active .info-text.regis .animation{

    pointer-events: auto;

}

.login .info-text.regis .animation{

    transform: translateX(-120%) ;
    opacity: 0;
    filter: blur(10px);
    transition: .8s;
    transition-delay: calc(.1s *var(--j)) ;

}

.login.active .info-text.regis .animation{

    transform: translateX(0) ;
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s *var(--i)) ;
    
    
}

.info-text h2{
    
    font-size: 36px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;

}

.info-text p{
    font-size: 16px;
    color: #fff;
}

.login .animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 750px;
    background: linear-gradient(45deg, #000000,rgb(0, 89, 255),#120886, #000000);
    border-bottom: 1px solid rgb(0, 151, 252);
   transform: rotate(10deg) skewY(45deg);
    transform-origin: bottom right;
    transition:  1.5s ease;
    transition-delay: 1.6s;

}

.login.active .animate{
  
    transform: rotate(0) skewY(0);
    transition-delay:.5s;
    
}

.login .animate2{
    position: absolute;
    top: 100%;
    left: 300px;
    width: 950px;
    height: 800px;
    background:#000000;
    border-top: 1px solid  rgb(0, 151, 252);
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s;
    transition-delay: .5s;
}


.login.active .animate2{
    
    transform: rotate(-11deg) skewY(-45deg);
    transition-delay:1.2s;
    
}