*{
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
font-family: "Lora", serif;
font-optical-sizing: auto;
}
/*header*/

header{

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0; right: 0; top: 0;
    padding: 0px 3rem;
    background: black;
    box-shadow: 0 10px 15px rgb(0, 151, 252);
    z-index: 1000;

}
header .logo{

    font-weight: bolder;
    border-radius: 2rem;
    cursor: pointer;
    width: 230px;
    height: 60px;
    margin: 0.5rem;

}
header .menu .ul_menu .list_menu{

    list-style-type: none;
    position: relative;
    float: left;
    padding: 0px 20px;

}
header .menu .ul_menu .list_menu .tex_menu{

    font-size: 17px;
    color: white;
    padding-top: 8px;
    margin-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    display: block;

}
/*El hover es para que cambie de color cuando
el cursor se para ensima de el objeto */
header .menu .ul_menu .list_menu .tex_menu:hover{

    background: linear-gradient(160deg,#00fdd5,#0037ff);
    color:black;
    border-radius: 2rem;
    padding: 10px;
    font-weight: bolder;
}
header .menu .ul_menu .list_menu .ul_menu{

    position: absolute;
    left: 0;
    width: 150px;
    background: black;
    display: none;

}
/*El hover es para que cambie de color cuando
el cursor se para ensima de el objeto */
header .menu .ul_menu .list_menu:hover > .ul_menu{
    display: initial;
}
#menu-bar{
    display: none;
}
header .label{
    font-size: 18px;
    color: white;
    cursor: pointer;
    display: none;
}
@media(max-width: 1187px){

    header{
        padding: 20px;
    }
    header .label{
        display:initial;
    }
    header .menu{
        position: absolute;
        top: 112%; left:0; right:0;
        background: black;
        border-top: 1px solid rgba(rgb(0, 151, 252));
        box-shadow: 0 10px 15px rgb(0, 151, 252);
        display:none;
    }
    header .menu .ul_menu .list_menu{
        width: 100%;
    }
    header .menu .ul_menu .list_menu .ul_menu{
        position: relative;
        width: 100%;
    }
    #menu-bar:checked ~ .menu{
        display: initial;
    }
    
}
/*contenido*/

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 .cont figure{
    
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.884);
    cursor: pointer;
    border-radius: 2rem;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;
    margin-bottom: 50px;

 }
 .cont figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;

}

.cont figure .cont-texto{

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.719);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: white;

}
/*El hover es para que cambie de color cuando
el cursor se para ensima de el objeto */
.cont figure:hover > .cont-texto{
    opacity: 1;
    visibility: visible;
}
.cont figure:hover > .cont-texto h1{

    margin-top: 200px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right:50px;

}

.cont figure .cont-texto h1{
    font-size: 40px;
    margin-bottom: 200px;
    margin-top: 100px;
    transition:  all 500ms ease-out;

}
.cont figure .cont-texto p{
    font-size: 18px;
    margin-top: 40px;
    width: 100%;
    line-height: 1.5;
    max-width: 500px;
    margin: auto;

}

.titulo{
    background: black;
    padding-top: 30px;
}

.titulo h1{
    text-align: center;
    color: white;
    
}
.cont1{
    display:flex;
    background: black;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 50px;
    

}
.cont1 .cont-colum{
    margin-bottom: 50px;
    margin-top: 50px;
}
.cont1 .cont-colum .texto img{
    width: 400px;
    height: 200px;
    margin-left:100px ;
    margin-right: 100px;
    margin-top: 10px;
   
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
}
.cont1 .cont-colum .texto h2{
    color: rgb(0, 151, 252);
    line-height: 1.5;
    text-align: center;

}

.cont1 .cont-colum .texto p{
    color: white;
    line-height: 1.5;
    text-align: center;
    margin-right: 40px;
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    
}

.cont1 .cont-colum .text img{
    width: 400px;
    height: 200px;
    margin-left: 100px ;
    margin-right: 100px;
    margin-top: 10px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
}

.cont1 .cont-colum .text h2{
    color: rgb(0, 151, 252);
    line-height: 1.5;
    padding-left: 180px;
   

}

.cont1 .cont-colum .text p{
    color: white;
    line-height: 1.5;
    text-align: center;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 40px;   
}
.cont2{
    text-align: center;
}
.cont2 h2{
    margin-bottom: 20px;
    font-size: 25px;
}
.cont2 img{
    width: 700px;
    height: 450px;
    border-radius: 2rem;
    margin-bottom: 30px;

}
.cont2 p{
    max-width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

/*footer*/
footer{
 background: black;
 display: flex;
 justify-content: center;
 box-shadow: 0 0px 15px 15px rgb(0, 151, 252);
}
 footer .footer-titulo{
    color:rgb(0, 151, 252);
    font-size: 22px;
    text-align: center;
    max-width: 100%;
    margin: auto;
    margin-left:80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
 }
 footer .footer-texto{
    color: white;
    font-size: 18px;
    text-align: center;
    max-width: 100%;
    margin: auto;
    margin-left:80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;

 }

 @media(max-width: 989px){

    footer .footer-titulo{
        margin-top: 10px ;
        margin-bottom: 10px;
        margin-left:20px ;
        margin-right:20px ;
    }
    
    footer .footer-texto{
        margin-top: 10px ;
        margin-bottom: 10px;
        margin-left:20px ;
        margin-right:20px ;
    }
 }

 @media(max-width: 625px){
    footer{
        display: flex;
        flex-direction: column;
    }

    footer .footer-titulo{
        margin: 5px;
    }
    
    footer .footer-texto{
        margin: 5px 
 }
}

 /*productos*/
 .cont-ser{
    display:flex;
    background: linear-gradient(120deg,rgb(0, 58, 82), rgb(0, 0, 0),rgb(0, 58, 82),rgb(0, 0, 0),rgb(0, 58, 82));
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    
    

}
.cont-ser .cont1-ser{
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
.cont-ser .cont1-ser .texto-ser img{
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 40px;

}
.cont-ser .cont1-ser .texto-ser h2{
    color: rgb(0, 151, 252);
    line-height: 1.5;
    padding-bottom: 20px;
    

    

}

.cont-ser .cont1-ser .texto-ser p{
    color: white;
    line-height: 1.5;
    text-align: left;
    max-width: 80%;
    padding: 20px;
    
}

.cont-ser .cont1-ser .text-ser img{
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 40px;
}

.cont-ser .cont1-ser .text-ser h2{
    color: rgb(0, 151, 252);
    line-height: 1.5;
    padding:10px;

   

}

.cont-ser .cont1-ser .text-ser p{
    color: white;
    line-height: 1.5;
    text-align: left;
    max-width: 80%;
    padding: 20px;
   
}

/*Informacion*/
.informacion{
    background: linear-gradient(120deg,rgb(0, 58, 82), rgb(0, 0, 0),rgb(0, 58, 82),rgb(0, 0, 0),rgb(0, 58, 82));
    margin-top: 80px;
    color: white;
   
}
.informacion .info{
    
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    max-width: 80%;
    margin: auto;
}

.informacion .info h1{
    text-align: center;
    padding: 30px;
}

.informacion .info a{
    color:rgb(0, 151, 252) ;
    font-size: 20px;
    line-height: 2;
  
    

}

.informacion .info p{
    color:white ;
    font-size: 20px;
    line-height: 2;
    padding: 10px;
}

.informacion .historia{
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    ;
    max-width: 80%;
    margin: auto;

}

.informacion .historia h1{
    text-align: center;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-top: 40px;
}

.informacion .historia li{
    color:rgb(255, 255, 255) ;
    font-size: 20px;
    line-height: 2;
    padding: 10px;

}

.informacion .historia p{
    color:white ;
    font-size: 20px;
    line-height: 2;
    padding: 10px;
}

.informacion .num{
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;

}

.informacion .num h1{
    font-size: 40px;

}
.informacion .num label{
    font-size: 20px;
    padding: 30px;
    
}
.informacion .num input{
    border-radius: 15px;
    height: 10px;
    width: 150px;
    padding: 15px;
    border: none;
    
}
.informacion .num input:focus{
    outline: 2px solid rgb(0, 153, 255);
    

}


/*Nosotros*/
.nosotros{
    background: linear-gradient(120deg,rgb(0, 58, 82), rgb(0, 0, 0),rgb(0, 58, 82),rgb(0, 0, 0),rgb(0, 58, 82));
    margin-top: 80px;
    color: white;
}

.nosotros .nos{
    padding-top:60px;
    color: white;
    max-width: 70%;
    margin: auto;
}
.nosotros .nos h1{
    text-align: center;
    font-size: 40px;
    padding: 30px;
}
.nosotros .nos p{
    line-height: 1.5;
    font-size: 20px;
    padding: 30px;
}

.nosotros .vision-mision{
    background: rgba(255, 255, 255, 0.205);
    margin: 80px;
    padding: 60px;
    border-radius: 2rem;
    display: flex;
}
.nosotros .vision-mision .mision{
    padding: 30px;
    margin: 30px;
    text-align: center;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 10rem;
    
}
.nosotros .vision-mision .mision h2{
    padding-bottom: 10px;
    font-size: 25px;
}

.nosotros .vision-mision .vision{
    padding: 30px;
    margin: 30px;
    text-align: center;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 10rem;
}
.nosotros .vision-mision .vision h2{
    padding-bottom: 10px;
    font-size: 25px;
}
.nosotros .valores{
    background: rgba(255, 255, 255, 0.205);
    margin: 60px;
    padding: 30px;
    border-radius: 2rem;
    
    
}
.nosotros .valores .cont-valores{
    display: flex;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.nosotros .valores .cont-valores h3{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nosotros .diferencias{
    max-width: 70%;
    margin: auto;
    padding-bottom: 100px;

}
.nosotros .diferencias h2{
    font-size: 40px;
    text-align: center;
    padding: 30px;

}

.nosotros .diferencias li{
    font-size: 20px;
    line-height: 2;

}

/*Contacto*/
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

 .video figure{
    
    position: relative;
    height: 650px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.884);
    cursor: pointer;
    border-radius: 2rem;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;
    margin-bottom: 10px;

 }
 .video figure video{
    width: 112%;
    height: 100%;
    transition: all 500ms ease-out;

}

.video figure .video-texto{

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.719);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: white;
   
}

.video figure:hover > .video-texto{
    opacity: 1;
    visibility: visible;
}
.video figure:hover > .video-texto h1{

    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right:10px;

}

.video figure .video-texto h1{
    font-size: 40px;
    margin-bottom: 200px;
    margin-top: 100px;
    transition:  all 500ms ease-out;

}
.video figure .video-texto .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.video figure .video-texto .form label{
    margin: 10px 0px;
    font-size: 18px;
}
.video figure .video-texto .form input{
    padding: 10px 10px;
    width: 400px;
    border-radius: 10px;
    border: 1px;
    background: rgba(169, 178, 209, 0.466);
    font-size: 18px;
   
}
/*para color del borde en el input y
 el color de la letra que va dentro*/
.video figure .video-texto .form input:focus{
    outline: 1px solid rgb(0, 153, 255);
    color: white;
    font-size: 16px;
}


.video figure .video-texto .form textarea{
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 400px;
    border-radius: 10px;
    border: 1px;
    background: rgba(169, 178, 209, 0.466);
    font-size: 18px;
    
}
/*para color del borde en el texarea y
 el color de la letra que va dentro*/
.video figure .video-texto .form textarea:focus{
    outline: 1px solid rgb(0, 153, 255);
    color: white;
    font-size: 16px;
}

.video figure .video-texto .form .btn{
    background: rgb(0, 119, 255);
    color: white;
    box-shadow: 2px 2px 3px 3px rgb(0, 119, 255) ;
    width: 160px;
    cursor: pointer;
}
/*El hover es para que cambie de color cuando
el cursor se para ensima de el objeto */
.video figure .video-texto .form .btn:hover{
    background: linear-gradient(120deg,rgb(0, 119, 255),rgb(0, 0, 0),rgb(0, 119, 255));
}

/*Responsivo contactanos*/
@media(max-width: 999px){
    
    .video figure{
        width: 100%;
        height: 720px;

    }
    .video figure video{
        width: 370%;
        height: 100%;
    }
    .video figure .video-texto .form input{
        width: 300px;
    }
    .video figure .video-texto .form textarea{
    width: 300px;
   }
}


/*Precios*/
.precios{
    background: black;
   color: white;
   padding-left: 10px; 
   padding-right: 10px; 
   padding-top: 10px; 
   padding-bottom: 100px; 
}
.precios h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}
.precios h2{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}
.precios h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.precios p{
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px;
}

.precios .personal{
    background: rgba(255, 255, 255, 0.151);
    border-radius: 2rem;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    color:white;
    display:flex;
    justify-content: center;

}

.precios .personal .plan{
    background: rgba(255, 255, 255, 0.288);
    border-radius: 2rem;
    padding: 30px;
    margin: 20px;
}

.precios .familiar{
    background: rgba(255, 255, 255, 0.151);
    border-radius: 2rem;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    color:white;
    display:flex;
    justify-content: center;

}
.precios .familiar .plan{
    background: rgba(255, 255, 255, 0.288);
    border-radius: 2rem;
    padding: 30px;
    margin: 20px;
}

.precios .empresa{
    background: rgba(255, 255, 255, 0.151);
    border-radius: 2rem;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    color:white;
    display:flex;
    justify-content: center;

}
.precios .empresa .plan{
    background: rgba(255, 255, 255, 0.288);
    border-radius: 2rem;
    padding: 30px;
    margin: 20px;
}

